<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">{{'PROFILE.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <h2 class="profile-title">{{'PROFILE.PERSONAL_INFO' | translate}}</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row class="profile-row">
          <!-- Image at the left side -->
          <ion-col size="12" size-md="6" class="profile-image">
            <ion-card class="ion-no-margin full-height">
              <ion-card-content>
                <app-picture-selectable formControlName="picture"></app-picture-selectable>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- Text inputs at the rights side -->
          <ion-col size="12" size-md="6">
            <ion-list>
              <ion-item class="input-item">
                <ion-label position="stacked">{{'PROFILE.FIELDS.NAME' | translate}}</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                <p *ngIf="name.errors?.['required']">{{'PROFILE.ERRORS.NAME_REQUIRED' | translate}}</p>
              </ion-text>

              <ion-item class="input-item">
                <ion-label position="stacked">{{'PROFILE.FIELDS.SURNAME' | translate}}</ion-label>
                <ion-input type="text" formControlName="surname"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                <p *ngIf="surname.errors?.['required']">{{'PROFILE.ERRORS.SURNAME_REQUIRED' | translate}}</p>
              </ion-text>

              <ion-item class="input-item" (click)="showEmailWarning()">
                <ion-label position="stacked">{{'PROFILE.FIELDS.EMAIL' | translate}}</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <p *ngIf="email.errors?.['required']">{{'PROFILE.ERRORS.EMAIL_REQUIRED' | translate}}</p>
              </ion-text>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="button-container">
        <ion-button expand="full" type="submit" class="update-button" [disabled]="!formGroup.valid || !formGroup.dirty">
          {{'PROFILE.BUTTONS.UPDATE' | translate}}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
