<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
      <ion-text>
        <p>Tu información personal</p>
      </ion-text>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8">
          <ion-list>
            <ion-item>
              <ion-input label="Nombre" label-placement="stacked" type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="name.invalid && (name.dirty || name.touched)">
              <p *ngIf="name.errors?.['required']">El nombre es obligatorio</p>
              <p *ngIf="name.errors?.['minlength']">El nombre debe tener al menos 2 caracteres</p>
            </ion-text>

            <ion-item>
              <ion-input label="Apellido" label-placement="stacked" type="text" formControlName="surname"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
              <p *ngIf="surname.errors?.['required']">El apellido es obligatorio</p>
              <p *ngIf="surname.errors?.['minlength']">El apellido debe tener al menos 2 caracteres</p>
            </ion-text>

            <ion-item>
              <ion-input label="Email" label-placement="stacked" type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <p *ngIf="email.errors?.['required']">El email es obligatorio</p>
              <p *ngIf="email.errors?.['email']">Por favor, introduce un email válido</p>
            </ion-text>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding">
      <ion-button button  [disabled]="!formGroup.valid || !formGroup.dirty" expand="full" type="submit">
        Actualizar
      </ion-button>
    </div>
  </form>
</ion-content>
