<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="login-title">Inicia sesión en Voliberia</h2>

      <ion-item class="input-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          required>
        </ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          [type]="passwordVisible ? 'text' : 'password'"
          formControlName="password"
          required>
        </ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
          <ion-icon
            [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'"
            class="toggle-password-icon">
          </ion-icon>
        </ion-button>
      </ion-item>
      <ion-text class="input-error" color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <p *ngIf="email?.errors?.['required']">*Debe introducir un email</p>
        <p *ngIf="email?.errors?.['email']">*Debe introducir un email correcto</p>
      </ion-text>
      <ion-text class="input-error" color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <p *ngIf="password?.errors?.['required']">*Debe introducir una contraseña</p>
      </ion-text>
      <ion-button
        expand="block"
        class="login-button"
        type="submit"
        [disabled]="loginForm.invalid">
        Iniciar Sesión
      </ion-button>

      <div class="register-link">
        <ion-text>¿No tienes cuenta?</ion-text>
        <ion-button fill="clear" class="register-button" (click)="onRegister()">Regístrate</ion-button>
      </div>
    </form>
  </div>
</ion-content>
