<!-- Fondo oscuro semitransparente -->
<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
  <!-- Tarjeta del modal -->
  <div class="bg-white dark:bg-stone-800 rounded-2xl p-6 w-[90vw] max-w-md shadow-xl">
    <h2 class="text-xl font-bold mb-4 text-center">Reservar</h2>

    <div class="space-y-2 text-sm text-gray-700 dark:text-gray-400">
      <p><strong>{{'BOOK.ORIGIN' | translate}}:</strong> {{ origin }}</p>
      <p><strong>{{'BOOK.DESTINATION' | translate}}:</strong> {{ destination }}</p>
      <p><strong>{{'BOOK.DEPARTURE' | translate}}:</strong> {{ departure }}</p>
      <p><strong>{{'BOOK.ARRIVAL' | translate}}:</strong> {{ arrival }}</p>
      <p><strong>{{'BOOK.PRICE' | translate}}:</strong> {{ price }} €</p>
    </div>

    <div class="mt-6 flex flex-col space-y-2">
      <ion-button expand="block" color="success" (click)="confirm()">{{'COMMON.CONFIRM' |translate}}</ion-button>
      <ion-button expand="block" fill="outline" (click)="cancel()">{{ 'COMMON.CANCEL' | translate}}</ion-button>
    </div>
  </div>
</div>
