<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="h-[45px] sm:h-[64px] px-4">
    <div class="flex items-center h-full space-x-3">
      <img src="assets/img/logo.png" alt="Logo" class="h-6 sm:h-8 w-auto" />

      <div class="text-white leading-tight">
        <div class="font-istokWeb font-bold text-sm sm:text-base">VOLIBERIA</div>
        <div class="font-inter text-xs sm:text-sm opacity-80 -mt-1 hidden sm:block">
          {{ 'HEADER.TITLE' | translate}}
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="bg-cover bg-center font-inter"
  style="background-image: url('../../../assets/img/fondoVoliberia.png')"
>
  <div class="flex flex-col items-center h-full sm:justify-center pt-10 sm:pt-0 px-4">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="bg-white/90 rounded-xl shadow-lg mt-8 p-6 sm:p-8 w-full max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl text-center transition-all"
    >
      <!-- Title -->
      <h2 class="text-xl sm:text-2xl font-istokWeb font-bold text-blue-800 mb-6">
        {{ 'REGISTER.TITLE' | translate }}
      </h2>

      <!-- Campos -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <!-- Name -->
        <div class="mb-4 text-left">
          <ion-input
            style="--padding-start: 12px;"
            labelPlacement="floating"
            [label]="'REGISTER.NAME' | translate"
            type="text"
            formControlName="name"
            required
            class="w-full text-black border border-gray-300 rounded-md px-3 py-2 focus:border-blue-500 focus:outline-none"
          ></ion-input>
          <p *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-red-500 text-sm mt-1">
            <span *ngIf="name?.errors?.['required']">{{ 'REGISTER.ERRORS.NAME_REQUIRED' | translate }}</span>
            <span *ngIf="name?.errors?.['minlength']">{{ 'REGISTER.ERRORS.NAME_MINLEGTH' | translate }}</span>
          </p>
        </div>

        <!-- Surname -->
        <div class="mb-4 text-left">
          <ion-input
            style="--padding-start: 12px;"
            labelPlacement="floating"
            [label]="'REGISTER.SURNAME' | translate"
            type="text"
            formControlName="surname"
            required
            class="w-full text-black border border-gray-300 rounded-md px-3 py-2 focus:border-blue-500 focus:outline-none"
          ></ion-input>
          <p *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)" class="text-red-500 text-sm mt-1">
            <span *ngIf="surname?.errors?.['required']">{{ 'REGISTER.ERRORS.SURNAME_REQUIRED' | translate }}</span>
            <span *ngIf="surname?.errors?.['minlength']">{{ 'REGISTER.ERRORS.SURNAME_MINLEGTH' | translate }}</span>
          </p>
        </div>

        <!-- Email -->
        <div class="mb-4 text-left col-span-1 sm:col-span-2">
          <ion-input
            style="--padding-start: 12px;"
            labelPlacement="floating"
            [label]="'REGISTER.EMAIL' | translate"
            type="email"
            formControlName="email"
            required
            class="w-full text-black border border-gray-300 rounded-md px-3 py-2 focus:border-blue-500 focus:outline-none"
          ></ion-input>
          <p *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-red-500 text-sm mt-1">
            <span *ngIf="email?.errors?.['required']">{{ 'REGISTER.ERRORS.EMAIL_REQUIRED' | translate }}</span>
            <span *ngIf="email?.errors?.['email']">{{ 'REGISTER.ERRORS.EMAIL_INVALID' | translate }}</span>
          </p>
        </div>

        <!-- Password -->
        <div class="mb-4 text-left">
          <div class="relative">
            <ion-input
              style="--padding-start: 12px;"
              [label]="'REGISTER.PASSWORD' | translate"
              labelPlacement="floating"
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="password"
              required
              class="w-full text-black border border-gray-300 rounded-md px-3 py-2 focus:border-blue-500 focus:outline-none"
            ></ion-input>
            <ion-button
              fill="clear"
              size="small"
              class="absolute right-1 top-1/2 -translate-y-1/2 z-10"
              (click)="togglePasswordVisibility()"
            >
              <ion-icon
                [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'"
                class="text-blue-600 text-xl"
              ></ion-icon>
            </ion-button>
          </div>
          <p *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-red-500 text-sm mt-1">
            {{ 'REGISTER.ERRORS.PASSWORD_REQUIRED' | translate }}
          </p>
        </div>

        <!-- Repeat Password -->
        <div class="mb-4 text-left">
          <div class="relative">
            <ion-input
              style="--padding-start: 12px;"
              [label]="'REGISTER.CONFIRM_PASSWORD' | translate"
              labelPlacement="floating"
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              formControlName="confirmPassword"
              required
              class="w-full text-black border border-gray-300 rounded-md px-3 py-2 focus:border-blue-500 focus:outline-none"
            ></ion-input>
            <ion-button
              fill="clear"
              size="small"
              class="absolute right-1 top-1/2 -translate-y-1/2 z-10"
              (click)="toggleConfirmPasswordVisibility()"
            >
              <ion-icon
                [name]="confirmPasswordVisible ? 'eye-off-outline' : 'eye-outline'"
                class="text-blue-600 text-xl"
              ></ion-icon>
            </ion-button>
          </div>
          <p *ngIf="registerForm.errors?.['passwordsMismatch']" class="text-red-500 text-sm mt-1">
            {{ 'REGISTER.ERRORS.PASSWORDS_MISMATCH' | translate }}
          </p>
        </div>
      </div>

      <!-- Botón de login -->
      <ion-button
        type="submit"
        [disabled]="registerForm.invalid"
        color="tertiary"
        expand="block"
        class="w-full md:w-[300px] mx-auto text-white hover:color:tertiary-shade font-semibold py-2 rounded-lg transition-all"
      >
        {{ 'REGISTER.SUBMIT' | translate }}
      </ion-button>

      <!-- Enlace de login -->
      <div class="mt-4 flex justify-center gap-2 text-sm text-gray-700">
        <span>{{ 'REGISTER.HAVE_ACCOUNT' | translate }}</span>
        <button type="button" (click)="onLogin()" class="text-blue-600 font-semibold hover:underline">
          {{ 'REGISTER.LOGIN' | translate }}
        </button>
      </div>
    </form>
  </div>
</ion-content>
