<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">{{ 'FLIGHT.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="add-button" (click)="onAddFlight()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flight-grid">
    <ion-card class="flight-card" *ngFor="let flight of flights$ | async">
      <ion-card-header>
        <ion-card-title>
          <span class="flight-origin">{{ flight.origin }}</span>
          <span> → </span>
          <span class="flight-destination">{{ flight.destination }}</span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ 'FLIGHT.DEPARTURE_TITLE' | translate }}: {{ flight.departureDate | localizedDate: currentLocale }}</p>
        <p>{{ 'FLIGHT.ARRIVAL_TITLE' | translate }}: {{ flight.arrivalDate | localizedDate: currentLocale }}</p>
        <p>{{ 'FLIGHT.PRICE' | translate }}: {{ flight.seatPrice | localizedCurrency: currentLocale }}</p>
      </ion-card-content>
      <ion-card-footer>
        <div class="flight-card-buttons">
          <ion-button class="edit-button" (click)="onEditFlight(flight)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon> {{ 'FLIGHT.EDIT_TITLE' | translate }}
          </ion-button>
          <ion-button class="delete-button" color="danger" (click)="onDeleteFlight(flight)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon> {{ 'FLIGHT.DELETE' | translate }}
          </ion-button>
        </div>
      </ion-card-footer>
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>