<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">Book </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="font-inter">

  <div class="md:px-14 md:pt-6">
    <ion-grid
      class="w-full md:max-w-7xl md:rounded-sm bg-cover bg-center bg-no-repeat"
      style="background-image: url('../../../assets/img/book-hero.png');"
    >
      <div class="flex flex-col md:h-55 md:flex-row">
        <!-- En móvil: caja centrada con márgenes -->
        <!-- En escritorio: caja a la izquierda tocando bordes internos -->
        <div
          class="bg-white/40
                m-4 md:m-0
                md:w-1/2
                md:h-full
                rounded-sm
                flex flex-col justify-center
                items-center md:items-start
                text-center md:text-left
                p-6 md:p-12
                shadow-lg"
        >
          <h2 class="text-3xl font-istokWeb font-bold text-black">{{ 'BOOK.HERO_TITLE' | translate}}</h2>
          <p class="font-inter text-black mt-2">{{ 'BOOK.HERO_TEXT' | translate}}</p>
          <ion-button
            color="tertiary"
            expand="block"
            class="w-full md:w-[200px] text-white hover:color:tertiary-shade font-semibold py-2 rounded-lg transition-all"
          >
            {{ 'BOOK.HERO_BUTTON' | translate }}
          </ion-button>
        </div>
      </div>
    </ion-grid>
  </div>

  <div class="w-full flex justify-center px-6">
    <div class="mt-4 h-[1px] w-full bg-black rounded-full"></div>
  </div>


<!-- CONTENEDOR ORIGIN + DESTINATION RESPONSIVE -->
<div class="w-full flex flex-col md:flex-row md:gap-4 md:px-[150px] px-4 mt-4">

  <!-- ORIGIN -->
  <div class="relative w-full md:w-1/2" #originWrapper>
    <!-- Campo cerrado -->
    <div
      *ngIf="!toggleOriginSelector"
      class="border border-gray-300 rounded-md px-3 py-2 bg-white text-sm text-black cursor-pointer hover:shadow-sm flex justify-between items-center"
      (click)="openOriginSelector($event)">
      <span>{{ selectedOrigin || ('BOOK.ORIGIN' | translate) }}</span>
      <button
        *ngIf="selectedOrigin"
        (click)="clearOriginSelection($event)"
        class="text-gray-400 hover:text-gray-700 text-base">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <!-- Campo abierto + lista -->
    <div class="w-full relative">
      <input
        #originInput
        *ngIf="toggleOriginSelector"
        [(ngModel)]="searchOrigin"
        (input)="filterOriginsSearch()"
        type="text"
        class="w-full px-3 py-2 border border-gray-300 rounded-md text-sm text-black focus:outline-none shadow-md"
        [placeholder]="'BOOK.SEARCH_ORIGIN' | translate"  />

      <ul
        *ngIf="toggleOriginSelector"
        class="absolute top-full left-0 right-0 z-50 mt-1 bg-white/90 backdrop-blur-sm border border-gray-300 rounded-md shadow-xl max-h-48 overflow-y-auto">
        <li
          *ngFor="let origin of filteredOriginsSearch"
          (click)="selectOrigin(origin)"
          class="px-4 py-2 hover:bg-gray-100 cursor-pointer text-sm text-black">
          {{ origin }}
        </li>
      </ul>
    </div>
  </div>

  <!-- DESTINATION -->
  <div class="relative w-full md:w-1/2 mt-4 md:mt-0" #destinationWrapper>
    <!-- Campo cerrado -->
    <div
      *ngIf="!toggleDestinationSelector"
      class="border border-gray-300 rounded-md px-3 py-2 bg-white text-sm text-black cursor-pointer hover:shadow-sm flex justify-between items-center"
      (click)="openDestinationSelector($event)">
      <span>{{ selectedDestination || ('BOOK.DESTINATION' | translate) }}</span>
      <button
        *ngIf="selectedDestination"
        (click)="clearDestinationSelection($event)"
        class="text-gray-400 hover:text-gray-700 text-base">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <!-- Campo abierto + lista -->
    <div class="w-full relative">
      <input
        #destinationInput
        *ngIf="toggleDestinationSelector"
        [(ngModel)]="searchDestination"
        (input)="filterDestinationsSearch()"
        type="text"
        class="w-full px-3 py-2 border border-gray-300 rounded-md text-sm text-black focus:outline-none shadow-md"
        [placeholder]="'BOOK.SEARCH_DESTINATION' | translate" />

      <ul
        *ngIf="toggleDestinationSelector"
        class="absolute top-full left-0 right-0 z-50 mt-1 bg-white/90 backdrop-blur-sm border border-gray-300 rounded-md shadow-xl max-h-48 overflow-y-auto">
        <li
          *ngFor="let destination of filteredDestinationsSearch"
          (click)="selectDestination(destination)"
          class="px-4 py-2 hover:bg-gray-100 cursor-pointer text-sm text-black">
          {{ destination }}
        </li>
      </ul>
    </div>
  </div>

  <!-- DATE SELECTOR -->
<div *ngIf="selectedOrigin && selectedDestination" class="w-full px-4 mt-4">
  <label class="block text-sm font-medium text-gray-700 mb-1">
    {{ 'BOOK.DATE' | translate }}
  </label>
  <ion-datetime
  presentation="date"
  [isDateEnabled]="isFlightDate"
  [(ngModel)]="selectedDate"
  [disabled]="!selectedOrigin || !selectedDestination">
</ion-datetime>

</div>

</div>
<ion-button expand="block" (click)="resetFilters()" class="ion-margin">
  {{ 'BOOK.CLEAR_FILTERS' | translate }}
</ion-button>


</ion-content>
