<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">Book </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">book</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- CONTENEDOR ORIGIN + DESTINATION RESPONSIVE -->
<div class="w-full flex flex-col md:flex-row md:gap-4 px-4 mt-4">

  <!-- ORIGIN -->
  <div class="relative w-full md:w-1/2" #originWrapper>
    <!-- Campo cerrado -->
    <div
      *ngIf="!toggleOriginSelector"
      class="border border-gray-300 rounded-md px-3 py-2 bg-white text-sm text-black cursor-pointer hover:shadow-sm flex justify-between items-center"
      (click)="openOriginSelector($event)">
      <span>{{ selectedOrigin || ('BOOK.ORIGIN' | translate) }}</span>
      <button
        *ngIf="selectedOrigin"
        (click)="clearOriginSelection($event)"
        class="text-gray-400 hover:text-gray-700 text-base">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <!-- Campo abierto + lista -->
    <div class="w-full relative">
      <input
        #originInput
        *ngIf="toggleOriginSelector"
        [(ngModel)]="searchOrigin"
        (input)="filterOriginsSearch()"
        type="text"
        class="w-full px-3 py-2 border border-gray-300 rounded-md text-sm text-black focus:outline-none shadow-md"
        [placeholder]="'BOOK.SEARCH_ORIGIN' | translate"  />

      <ul
        *ngIf="toggleOriginSelector"
        class="absolute top-full left-0 right-0 z-50 mt-1 bg-white/90 backdrop-blur-sm border border-gray-300 rounded-md shadow-xl max-h-48 overflow-y-auto">
        <li
          *ngFor="let origin of filteredOriginsSearch"
          (click)="selectOrigin(origin)"
          class="px-4 py-2 hover:bg-gray-100 cursor-pointer text-sm text-black">
          {{ origin }}
        </li>
      </ul>
    </div>
  </div>

  <!-- DESTINATION -->
  <div class="relative w-full md:w-1/2 mt-4 md:mt-0" #destinationWrapper>
    <!-- Campo cerrado -->
    <div
      *ngIf="!toggleDestinationSelector"
      class="border border-gray-300 rounded-md px-3 py-2 bg-white text-sm text-black cursor-pointer hover:shadow-sm flex justify-between items-center"
      (click)="openDestinationSelector($event)">
      <span>{{ selectedDestination || ('BOOK.DESTINATION' | translate) }}</span>
      <button
        *ngIf="selectedDestination"
        (click)="clearDestinationSelection($event)"
        class="text-gray-400 hover:text-gray-700 text-base">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <!-- Campo abierto + lista -->
    <div class="w-full relative">
      <input
        #destinationInput
        *ngIf="toggleDestinationSelector"
        [(ngModel)]="searchDestination"
        (input)="filterDestinationsSearch()"
        type="text"
        class="w-full px-3 py-2 border border-gray-300 rounded-md text-sm text-black focus:outline-none shadow-md"
        [placeholder]="'BOOK.SEARCH_DESTINATION' | translate" />

      <ul
        *ngIf="toggleDestinationSelector"
        class="absolute top-full left-0 right-0 z-50 mt-1 bg-white/90 backdrop-blur-sm border border-gray-300 rounded-md shadow-xl max-h-48 overflow-y-auto">
        <li
          *ngFor="let destination of filteredDestinationsSearch"
          (click)="selectDestination(destination)"
          class="px-4 py-2 hover:bg-gray-100 cursor-pointer text-sm text-black">
          {{ destination }}
        </li>
      </ul>
    </div>
  </div>
</div>


  <ion-button expand="block" (click)="resetFilters()" class="ion-margin">
    {{ 'BOOK.CLEAR_FILTERS' | translate }}
  </ion-button>
</ion-content>
