<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">{{'BOOKING.TITLE' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addBooking()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let booking of bookings$ | async">
        <div class="booking-card">
          <h2>
            {{ booking.bookingState ? ('BOOKING.ACTIVE' | translate) : ('BOOKING.INACTIVE' | translate) }}
            <span [appBookingState]="booking.bookingState"></span>
          </h2>
          <h3>{{'BOOKING.FLIGHT' | translate}}: {{ flightsMap[booking.flightId].origin }} - {{ flightsMap[booking.flightId].destination }}</h3>
          <h3>{{'BOOKING.DATE' | translate}}: {{ flightsMap[booking.flightId].departureDate | localizedDate: currentLocale }} - {{ flightsMap[booking.flightId].arrivalDate | localizedDate: currentLocale }}</h3>
          <h3>{{'BOOKING.PRICE' | translate}}: {{ flightsMap[booking.flightId].seatPrice | localizedCurrency: currentLocale }}</h3>
          <div class="booking-card-buttons">
            <ion-button class="edit-button" (click)="editBooking(booking)">
              <ion-icon name="create-outline"></ion-icon> {{'BOOKING.EDIT_TITLE' | translate}}
            </ion-button>
            <ion-button class="delete-button" color="danger" (click)="deleteBooking(booking)">
              <ion-icon name="trash-outline"></ion-icon> {{'BOOKING.DELETE' | translate}}
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>